<div>
  <mat-form-field appearance="outline" (click)="picker.open()">
    <mat-label>{{hintLabel}}</mat-label>
    <mat-icon matPrefix class="mat-icon">event</mat-icon>

    <input matInput readonly [matDatepicker]="picker" [placeholder]="placeholder" [formControl]="formControl"
      [required]="uiConfig.isRequired" (dateChange)="onChange($event)" (blur)="touched()"
      [matTooltip]="formControl.value" [matTooltipPosition]="TOOLTIP_POSITION">

    <button mat-icon-button matSuffix aria-label="Clear" (click)="clearDate($event)">
      <mat-icon>close</mat-icon>
    </button>

    <mat-datepicker #picker></mat-datepicker>

    <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
  </mat-form-field>
</div>