<mat-form-field [hintLabel]="uiConfig.showHintLabel ? hintLabel : ''" appearance="outline">
  <mat-label>{{ hintLabel }}</mat-label>

  <mat-select #select [placeholder]="placeholder" (selectionChange)="onChange($event)" [formControl]="formControl"
    [required]="uiConfig.isRequired" [matTooltip]="formControl.value" [matTooltipPosition]="TOOLTIP_POSITION">
    <span *ngIf="uiConfig.enableSearch">
      <ngx-mat-select-search [formControl]="searchControl" placeholderLabel="Search"
        noEntriesFoundLabel="No Records Found!"></ngx-mat-select-search>
    </span>
    <span *ngIf="!uiConfig.overrideKeyValue">
      <mat-option *ngFor="let option of options" [value]="option.Id">{{ option.Name
        }}</mat-option></span>
    <span *ngIf="uiConfig.overrideKeyValue">
      <mat-option *ngFor="let option of options" [value]="getOptionValue(option)">
        {{ option.Name }}
      </mat-option>
    </span>
  </mat-select>
  <!-- <mat-hint align="end">{{ formControl.value ? 'Selected: ' + formControl.value : '' }}</mat-hint> -->
  <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
</mat-form-field>