<mat-tab-group>
    <mat-tab label="Mat Reactive Forms using generic">
        <h2>Mat Reactive Forms using generic controls</h2>
        <app-mat-reactive-forms-using-generic></app-mat-reactive-forms-using-generic>
    </mat-tab>
    <mat-tab label="Mat Button">
        <h2>Mat Button</h2>
        <app-mat-button-overview></app-mat-button-overview>
    </mat-tab>
    <mat-tab label="Mat Form fields">
        <h2>Mat Form fields</h2>
        <app-mat-form-fields-overview></app-mat-form-fields-overview>
    </mat-tab>
    <mat-tab label="Simple Reactive Form">
        <h2>Simple Reactive Forms</h2>
        <app-sampl-reactive-forms></app-sampl-reactive-forms>
    </mat-tab>
    <mat-tab label="Mat Reactive Forms">
        <h2>Mat Reactive Forms</h2>
        <app-mat-reactive-forms></app-mat-reactive-forms>
    </mat-tab>
</mat-tab-group>