<form [formGroup]="matForm2" (ngSubmit)="onMatSubmit()" autocomplete="off">

  <!-- <h3 for="">Using app-custom-textbox: </h3>
  <div>
    <app-custom-textbox hintLabel='First name' maxlength="15" placeholder="Enter a first name"
      formControlName="firstName" [formControl]="matForm2.get('firstName')"></app-custom-textbox>
  </div>

  <div>
    <app-custom-textbox hintLabel='Last name' maxlength="15" placeholder="Enter a last name"
      [formControl]="matForm2.get('lastName')"></app-custom-textbox>
  </div>
  <div>
    <app-custom-textbox hintLabel='Email' maxlength="50" placeholder="Enter your email" fieldType="email"
      [formControl]="matForm2.get('email')"></app-custom-textbox>
  </div>
  <div>
    <app-custom-dropdown [options]="states" [placeholder]="'Select an option'" [hintLabel]="'Dropdown'"
      [fieldName]="'dropdown'" [formControl]="matForm2.get('state')"></app-custom-dropdown>
  </div> -->
  <div class="main__sec">
    <section class="test__sec">

      <div>
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <br>
      </div>

      <h3 for="">Using SMNX GENERIC FORM CONTROL'S: </h3>

      <div>
        <smnx-textbox-form-control hintLabel='First name' maxlength="15" placeholder="Enter a first name"
          [formControl]="matForm2.get('firstName')" [uiConfig]="{ isRequired: true }"
          [errorTypeConfig]="{ errorTypesList: [errorType.REQUIRED] }"></smnx-textbox-form-control>
      </div>
      <div>
        <smnx-textbox-form-control hintLabel='Amount' maxlength="15" placeholder="Enter a Amount"
          [formControl]="matForm2.get('amount')" [uiConfig]="{ isRequired: false, showMaxlength: true }"
          [errorTypeConfig]="{ errorTypesList: [errorType.REQUIRED, errorType.MAXLENGTH, errorType.PATTERN], patternType: patternTypes.DECIMALS_ERROR }"></smnx-textbox-form-control>
      </div>
      <div>
        <smnx-textbox-form-control hintLabel='Last name' maxlength=" 15" placeholder="Enter a last name"
          [formControl]="matForm2.get('lastName')"
          [uiConfig]="{ isRequired: true, showMaxlength: false, showHintLabel: true }"></smnx-textbox-form-control>
      </div>
      <div>
        <smnx-dropdown-form-control [options]="states" [placeholder]="'Select an option'" [hintLabel]="'State'"
          [fieldName]="'State'" [formControl]="matForm2.get('state')"
          [uiConfig]="{ enableSearch: true, overrideKeyValue: false }"></smnx-dropdown-form-control>
      </div>
      <div>
        <smnx-textbox-form-control hintLabel='Email' maxlength="50" placeholder="Enter your email" fieldType="email"
          [formControl]="matForm2.get('email')"
          [uiConfig]="{ isRequired: true, showMaxlength: true, showHintLabel: false }"></smnx-textbox-form-control>
      </div>
      <div>
        <smnx-textbox-form-control hintLabel='Password' maxlength="50" placeholder="Enter password" fieldType="password"
          [formControl]="matForm2.get('password')"
          [uiConfig]="{ isRequired: true, showMaxlength: false, showHintLabel: false }">
        </smnx-textbox-form-control>

      </div>
      <div>
        <smnx-datepicker-form-control hintLabel="Date of birth: " placeholder="Date of birth: "
          [formControl]="matForm2.get('dob')"></smnx-datepicker-form-control>
      </div>
      <div>
        <smnx-datepicker-form-control hintLabel="Anniversary date: " placeholder="Anniversary date: "
          [formControl]="matForm2.get('adob')" [uiConfig]="{ isRequired: true }"></smnx-datepicker-form-control>
      </div>
      <div>
        <smnx-datetimepicker-form-control hintLabel="DateTime of birth: " [formControl]="matForm2.get('dobT')"
          [uiConfig]="{ hour12Timer: true }"></smnx-datetimepicker-form-control>
      </div>

      <div>
        <smnx-checkbox-form-control label="Married?"
          [formControl]="matForm2.get('married')"></smnx-checkbox-form-control>
      </div>
      <smnx-dropdowngroup-form-control>
        <div>
          <smnx-dropdown-form-control [options]="products" [placeholder]="'Select an option'" [hintLabel]="'Products'"
            [fieldName]="'Products'" [formControl]="matForm2.get('ProductId')"
            [uiConfig]="{ enableSearch: true, overrideKeyValue: false }"></smnx-dropdown-form-control>
        </div>

        <div>
          <smnx-dropdown-form-control [options]="categories" [placeholder]="'Select an option'" [hintLabel]="'Category'"
            [fieldName]="'Category'" [formControl]="matForm2.get('CategoryId')"
            [uiConfig]="{ enableSearch: true, overrideKeyValue: false }"></smnx-dropdown-form-control>
        </div>

        <div>
          <smnx-dropdown-form-control [options]="productGroups" [placeholder]="'Select an option'"
            [hintLabel]="'ProductGroup'" [fieldName]="'ProductGroup'" [formControl]="matForm2.get('ProductGroupId')"
            [uiConfig]="{ enableSearch: true, overrideKeyValue: false }"></smnx-dropdown-form-control>
        </div>
      </smnx-dropdowngroup-form-control>
      <div>
        <br>
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <br>
      </div>

    </section>


    <section class="result__sec">
      <h2>Result:</h2>
      <br>
      <pre id="matResult"></pre>
    </section>
  </div>
</form>